.header {
  background-color: #2C323C;
  background-image: url("/assets/images/geometry.svg");
  background-repeat: repeat;
  color: white;
  padding-top: 80px; 
  padding-bottom: 10px;
  text-align: center;

  h1 {
    margin: 0;
    margin-bottom: 30px;
    font-size: 4rem;
  }
}
